language: node_js
node_js:
  - "6.11.1"
env:
  global:
    - NODE_ENV=production
script:
  - echo "Deploying"
install:
  - npm install -g firebase-tools
  - npm --production=false install && npm run build && cd functions && npm install
after_success:
  - firebase use default
  - firebase deploy --token $FIREBASE_TOKEN